{% extends 'base.html' %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
{% if category%}


<h5 class="card-title">{{category.name}}</h5>
<div class="row">

{% for gif in gifs %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{gif.title}}</h5>
        <h6 class="card-text">{{gif.uploader_name}}</h6>
        <p class="card-text">Created at : {{gif.created_at}}</p>
        <img class="card-img-top" src="{{gif.url}}" alt="Card image cap">
    </div>
</div>
{% endfor %}
</div>
<br>
 <a href="{% url 'all_categories' %}" class="btn btn-primary">All the categories</a>
{% endif %}

{% endblock %}