{% extends 'base.html' %}
{% block title %}{{category.name}}{% endblock %}
{% block content %}
{% if gif %}


<h5 class="card-title">{{gif.title}}</h5>
<h6 class="card-text">{{gif.uploader_name}}</h6>
<img class="card-img-top" src="{{gif.url}}" alt="Card image cap">
<p class="card-text">Created at : {{gif.created_at}}</p>
<p class="card-text">Likes : {{gif.likes}}</p>
 <a href="{% url 'like_link' gif.id 1 %}" class="btn btn-success mb-3 mr-2">Like</a>
 <a href="{% url 'like_link' gif.id 0 %}" class="btn btn-danger mb-3">Dislike</a>

<br>
 <a href="{% url 'all_gifs' %}" class="btn btn-primary">All the gifs</a>
{% endif %}

{% endblock %}